@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";



*{
  
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  
  
}

a{
  text-decoration: none;
}

.scroll-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE & Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Edge */
}
